*{
  box-sizing: border-box;
}

body{
  height: 100vh;
 background-color: gray;
}

.App{
  
  height: 100vh;
}

form{
  display: block;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


