@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@300;400&display=swap');

*{
  box-sizing: border-box;
}

body{
  height: 100vh;
 background-color: #656567;
}

form{
  display: block;
}

.card-wrap{
  width: 190px;
  margin: 20px;
}

.flex-Wrap{
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
}

img{
  width: 188px;
  border-radius: 1rem;
  object-fit: cover;
}

.back-wrap,span{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
 
  
}

.title{
  align-self: center;
}

.back-wrap p{
  color: white;
  margin: 10px;
  padding: 0;
  font-size: 0.9rem;
}



